<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EquiposServlet</servlet-name>
        <servlet-class>com.safi.servlet.EquiposServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FabricantesServlet</servlet-name>
        <servlet-class>com.safi.servlet.FabricantesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MueblesServlet</servlet-name>
        <servlet-class>com.safi.servlet.MueblesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>com.safi.servlet.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EquiposServlet</servlet-name>
        <url-pattern>/equiposServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FabricantesServlet</servlet-name>
        <url-pattern>/fabricantesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MueblesServlet</servlet-name>
        <url-pattern>/mueblesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/cerrarsesionservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
